<ion-content>
  <!-- LOGIN -->
  <div class="bg-login">
    <!-- OVERLAY -->
    <div class="overlay">
      <!-- LOGIN CONTAINER -->
      <div>
       
          <!-- LOGO -->
          <div class="center padding-top-10-percent">
            <img src="./assets/imgs/logo-white.png"
                 class="logo-white-login">
          </div>

          <!-- TEXTOS -->
          <div class="mg-top-30">
            <!-- TÍTULO -->
            <h5 class="snow center bold no-margin">
              Que bom te ver aqui!
            </h5>
            <!-- SUBTÍTULO -->
            <p class="snow center light no-margin mg-top-5">
              Entre com sua conta para continuar
            </p>
          </div>

          <!-- FORMS E CTA -->
          <div class="padding-40">
              <form [formGroup]="formularioLogin" (ngSubmit)="onSubmited()">
            <ion-item class="bg-transparent no-padding mg-top-30">
              <ion-label stacked
                         class="snow bold">E-mail</ion-label>
              <ion-input type="email"
                         class="snow"
                         formControlName="email"
                         ></ion-input>
            </ion-item>
            <h6 *ngIf="errorEmail" class="error"> {{messageEmail}}</h6>

            <ion-item class="bg-transparent no-padding mg-top-20">
              <ion-label stacked
                         class="snow bold">Senha</ion-label>
              <ion-input type="password"
                         class="snow"
                         formControlName="senha"
                          ></ion-input>
            </ion-item>
            <h6 *ngIf="errorsenha" class="error"> {{messagesenha}}</h6>

            <button ion-button
                    block
                    class="ctaLogin center bold mg-top-30"
                    type="submit"
                    [disabled]="formularioLogin.invalid"
                    >
              Entrar
            </button>

            <!-- NOVA CONTA -->
            <div class="txtRegistrar bold mg-top-20 center"
                 (click)="exibirRegistrar()">
              Quero criar uma nova conta
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>


</ion-content>